
@using Zadatak2.ViewModels
@model TodoViewModel


<div>
    <h4 style="display:inline-block; margin-right:5px;">@Model.Text</h4>
    <p style="display:inline-block; color:red">@Model.getDaysUntilDue()</p>
    <p>@Model.getDateString()</p>
</div>


